babel==2.17.0
beautifulsoup4==4.10.0
blinker==1.9.0
certifi==2020.6.20
chardet==4.0.0
chrome-gnome-shell==0.0.0
click==8.2.1
colorama==0.4.4
command-not-found==0.3
cryptography==3.4.8
cupshelpers==1.0
dbus-python==1.2.18
defer==1.0.6
distro==1.7.0
dnspython==2.1.0
docxcompose==1.4.0
docxtpl==0.20.0
evdev==1.4.0
Flask==3.1.1
Flask-Login==0.6.3
Flask==3.1.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.41
gunicorn
psycopg2-binary==2.9.1
python-docx==1.1.2
docxtpl==0.20.0
pdfkit==1.0.0
Pillow==9.0.1
requests==2.25.1

